header {
  background: rgb(244, 248, 250);
}

.header__wrapper {
  display: flex;
  padding-top: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 784px;
}

.val__menu__list {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}

.val__menu__list:hover {
  color: rgb(38, 41, 49);
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.val__menu__list__exit {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}

.val__menu__list__exit:hover {
  color: rgb(38, 41, 49);
}

.exit {
  width: 20px;
  height: 20px;
}

.val__exit {
  display: flex;
  gap: 8px;
  padding: 9px 0;
}

.menu__burger {
  display: none;
}

.contacts {
  display: none;
}

.authorization {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: rgb(1, 118, 255);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.a__number {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.a__address {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 992px) {
  .menu__header {
    display: none;
  }
  .val__exit {
    display: none;
  }
  .header__wrapper {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background: none;
    z-index: 1;
    transition: all 0.4s ease;
    z-index: 4;
  }
  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    left: 0;
    background: black;
    transition: all 0.4s ease;
  }
  .menu__burger span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
  .menu__burger::after,
  .menu__burger::before {
    content: "";
    transition: all 0.3s ease;
  }
  .span__burger {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger__active {
    display: block;
  }
  .menu__burger__active .span__burger {
    display: none;
  }
  .menu__burger__active::after {
    top: 44%;
    transform: rotate(45deg);
  }
  .menu__burger__active::before {
    top: 45%;
    transform: rotate(-45deg);
  }
  .menu__header__burger__active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgb(244, 248, 250);
    flex-direction: column;
    flex: initial;
    justify-content: initial;
    gap: 40px;
    align-items: center;
    padding-top: 86px;
  }
  .authorization {
    display: flex;
    max-width: 272px;
    width: 100%;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .val__menu__list {
    color: rgb(38, 41, 49);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .header__wrapper a {
    position: relative;
    z-index: 4;
  }
}
.log__system {
  background: rgb(244, 248, 250);
  padding-top: 13px;
  overflow: hidden;
}

.wrapper__log__system {
  position: relative;
  padding: 115px 0 144px 0;
}

.hexagon {
  width: 1191.76px;
  height: 1017.56px;
}

.img1 {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 446px;
}

.log__system__text,
.log__system__form {
  position: relative;
  z-index: 2;
}

.blue {
  color: rgb(1, 118, 255);
}

.title__log__system {
  font-family: RF Dewi Extended;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

.par1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
  max-width: 511px;
}

.gray {
  color: rgb(63, 65, 74);
  font-weight: bold;
}

.become__partner {
  display: flex;
  border-radius: 72px;
  background: #0176ff;
  padding: 16px 32px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s ease;
  max-width: 202px;
}

.become__partner:hover {
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
  background: rgb(20, 113, 222);
}

.log__system__text {
  display: flex;
  flex-direction: column;
  gap: 56px;
  max-width: 576px;
  flex: 0 1 576px;
}

.form1 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.log__system__form {
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 48px 40px 48px;
  width: 100%;
  gap: 40px;
  flex: 0 1 485px;
}

.log__system__title2 {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.sec2 {
  width: 100%;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 100%;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}

.log:hover {
  box-sizing: border-box;
  border: 1px solid, rgb(97, 99, 109);
  border-radius: 30px;
  background: rgb(255, 255, 255);
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 100%;
  transition: all 0.3s ease;
}

.password:hover {
  box-sizing: border-box;
  border: 1px solid, rgb(97, 99, 109);
  border-radius: 30px;
  background: rgb(255, 255, 255);
}

.eye {
  width: 100%;
  height: 100%;
}

.pas__form {
  display: flex;
  position: relative;
  width: 100%;
}

.img2 {
  display: flex;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
}

.recover {
  display: inline-block;
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  align-self: flex-start;
  margin-left: 8px;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.recover:hover {
  color: rgb(38, 41, 49);
}

.enter {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 40px 16px 40px;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: rgb(255, 255, 255);
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.enter:hover {
  background: rgb(1, 118, 255);
  color: rgb(255, 255, 255);
}

.par2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(159, 161, 173);
}

.reg {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(1, 118, 255);
  transition: all 0.3s ease;
}

.reg:hover {
  color: rgb(23, 82, 151);
}

.no__akk {
  display: flex;
}

.sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eye {
  display: none;
}

.close__eye {
  display: none;
}

.eye__active {
  display: block;
}

@media (max-width: 992px) {
  .log__system {
    padding-top: 57px;
  }
  .form1 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  .title__log__system {
    font-family: RF Dewi Extended;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    line-height: 29px;
  }
  .img1 {
    display: none;
  }
  .wrapper__log__system {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 64px;
    align-items: flex-start;
    padding-top: 0;
  }
  .log__system__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 200px;
  }
  .par1 {
    font-size: 14px;
  }
  .become__partner {
    width: 100%;
    padding: 12px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    max-width: none;
  }
  .log__system__form {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 296px;
    gap: 18px;
    padding: 18px 12px;
  }
  .log__system__title2 {
    font-size: 16px;
  }
  .log {
    padding: 12px 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;
  }
  .password {
    padding: 12px 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 {
    width: 100%;
  }
  .sec3 {
    width: 100%;
  }
  .enter {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 115px;
    font-size: 14px;
  }
  .recover {
    font-size: 14px;
  }
  .par2 {
    font-size: 14px;
  }
  .reg {
    font-size: 14px;
  }
}
.about__project__wrapper {
  display: flex;
  gap: 40px;
  padding-top: 95px;
  padding-bottom: 167px;
  justify-content: space-between;
  align-items: center;
}

.about__project {
  background-image: url(../img/Bar\ chart.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.about__project__title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.about__project__text {
  display: flex;
  flex-direction: column;
  max-width: 487px;
}

.text__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stripes {
  display: flex;
  margin-top: 82px;
}

.comp {
  width: 100%;
  height: 100%;
}

.par3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
}

@media (max-width: 992px) {
  .about__project {
    background-image: none;
  }
  .about__project__wrapper {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .img3 {
    display: flex;
    flex: 1 1 249px;
  }
  .about__project__title {
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 22px;
  }
  .text__list {
    font-size: 14px;
    gap: 8px;
  }
  .about__project__text {
    max-width: none;
    flex: 1 1 297px;
  }
}
.how__it__works {
  background: rgb(244, 248, 250);
}

.how__it__works__wrapper {
  padding-top: 136px;
}

.how__it__works__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  color: black;
  margin-bottom: 64px;
}

.content {
  display: flex;
  margin-bottom: 32px;
  position: relative;
  padding-top: 44px;
  min-width: 1200px;
}

.content__wrapper {
  overflow-x: auto;
}

.content__title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.par4 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.group1 {
  display: flex;
  flex-direction: column;
  gap: 104px;
  position: relative;
  margin-right: 27px;
}

.way1 {
  position: absolute;
  z-index: 2;
  top: 279px;
  left: 230px;
}

.group2 {
  display: flex;
  flex-direction: column;
  gap: 98px;
  position: relative;
  margin-right: 47px;
}

.way2 {
  position: absolute;
  z-index: 2;
  top: 277px;
  right: 480px;
}

.group3 {
  display: flex;
  flex-direction: column;
  gap: 168px;
  position: relative;
  margin-right: 50px;
}

.way3 {
  position: absolute;
  z-index: 2;
  top: 285px;
  right: 217px;
}

.group4 {
  display: flex;
  flex-direction: column;
  gap: 87px;
  position: relative;
  margin-bottom: 79px;
}

.pad1 {
  padding: 0 84px 0 0;
  height: 100%;
}

.pad3 {
  margin-right: 52px;
}

.pad4 {
  padding-left: 47px;
}

.fr__im {
  padding-top: 35px;
  padding-right: 30px;
}

.butt__partner {
  display: flex;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  padding: 16px 32px 16px 32px;
  border-radius: 72px;
  background: rgb(1, 118, 255);
  max-width: 202px;
  transition: all 0.3s ease;
}

.butt__partner:hover {
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
  background: rgb(20, 113, 222);
}

.btt1 {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .content {
    display: flex;
    min-width: initial;
    flex-wrap: wrap;
    padding: 0;
    gap: 40px;
  }
  .how__it__works__wrapper {
    padding-top: 64px;
    padding-bottom: 0px;
  }
  .how__it__works__title {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 22px;
  }
  .content__wrapper {
    overflow: hidden;
  }
  .content__title {
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
  }
  .content__text {
    display: flex;
    flex-direction: column;
  }
  .par4 {
    font-size: 14px;
  }
  .way1 {
    display: none;
  }
  .way2 {
    display: none;
  }
  .way3 {
    display: none;
  }
  .group1 {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    gap: 16px;
    flex: 1 1 296px;
    align-items: center;
  }
  .group2 {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    gap: 16px;
    flex: 1 1 296px;
    align-items: center;
  }
  .group3 {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    gap: 16px;
    flex: 1 1 296px;
    align-items: center;
  }
  .group4 {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    gap: 16px;
    flex: 1 1 296px;
    align-items: center;
    margin-bottom: 0;
  }
  .pad1 {
    padding: 0;
  }
  .pad3 {
    margin: 0;
  }
  .pad4 {
    padding: 0;
  }
  .im {
    width: 104px;
  }
  .par4 br {
    display: none;
  }
  .way__mob {
    display: none;
  }
  .butt__partner {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 32px 12px 32px;
  }
}
.about__bitcoin {
  background: rgb(244, 248, 250);
  padding: 144px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video__bitcoin {
  position: relative;
  max-width: 888px;
  margin: 0 auto 56px;
}

.about__bitcoin__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.vid {
  height: 100%;
  width: 100%;
}

.par5 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(97, 99, 109);
  max-width: 671px;
  margin: 0 auto 56px;
}

.run__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 16px 0px rgb(0, 0, 0);
  background: rgb(249, 251, 252);
  width: 72px;
  height: 72px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.run__video svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.run__video path {
  transition: all 0.3s ease;
}

.run__video:hover {
  background: rgb(1, 118, 255);
}
.run__video:hover path {
  fill: white;
}

.polygon {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .about__bitcoin__title {
    font-size: 18px;
    margin-bottom: 16px;
    text-align: left;
    line-height: 22px;
  }
  .par5 {
    text-align: left;
    font-size: 14px;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
  }
  .video__bitcoin {
    margin: 0;
  }
  .about__bitcoin {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .run__video {
    width: 40px;
    height: 40px;
  }
  .run__video svg {
    width: 20px;
    height: 20px;
  }
}
.registration {
  background: rgb(1, 118, 255);
  overflow: hidden;
  background-image: url(../img/F.png);
  background-repeat: no-repeat;
  background-position: 100% -64px;
  background-size: 877px 748px;
}

.registration__wrapper {
  padding: 48px 0;
}

.registration__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 821px;
}

.yellow {
  color: rgb(251, 220, 124);
}

.par10 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.reg__butt {
  display: flex;
  gap: 24px;
}

.registration__butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  border-radius: 72px;
  background: rgb(255, 255, 255);
  padding: 16px 32px 16px 32px;
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}

.registration__butt:hover {
  box-shadow: 0px 8px 16px 0px rgba(50, 73, 85, 0.3);
  background: rgb(255, 255, 255);
}

.enter__akk {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  align-self: center;
}

.registration__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 992px) {
  .registration {
    background-image: none;
  }
  .registration__wrapper {
    padding-top: 24px;
    padding-bottom: 20px;
  }
  .registration__title {
    font-size: 18px;
  }
  .par10 {
    font-size: 14px;
  }
  .par10 br {
    display: none;
  }
  .reg__butt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    align-self: center;
    width: 100%;
  }
  .registration__text {
    display: flex;
    gap: 24px;
  }
  .registration__butt {
    padding: 12px 32px 12px 32px;
    width: 100%;
  }
  .enter__akk {
    font-size: 14px;
  }
}
.partner__support {
  background: rgb(244, 248, 250);
}

.partner__support__wrapper {
  padding-top: 166px;
  padding-bottom: 103px;
  background-image: url(../img/Asset\ 1\ 4.png);
  background-repeat: no-repeat;
  background-position: center 192px;
}

.partner__support__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.par11 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(97, 99, 109);
}

.par12 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
}

.partner__support__text {
  display: flex;
  justify-content: center;
}

.column1 {
  padding-top: 160px;
  margin-right: 83px;
}

.img4 {
  margin-top: 56px;
}

.column2 {
  padding-top: 160px;
  margin-left: 65px;
}

.val1 {
  max-width: 237px;
  margin-bottom: 75px;
}

.val2 {
  max-width: 237px;
  margin-bottom: 73px;
  padding-right: 30px;
}

.val3 {
  max-width: 237px;
}

.val4 {
  max-width: 267px;
  margin-bottom: 75px;
}

.val5 {
  max-width: 269px;
  margin-bottom: 73px;
  padding-left: 18px;
}

.val6 {
  max-width: 249px;
}

@media (max-width: 992px) {
  .partner__support__wrapper {
    padding-top: 64px;
    padding-bottom: 33px;
  }
  .partner__support__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }
  .partner__support__title {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 22px;
    text-align: left;
  }
  .column1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    flex: 1 1 296px;
    order: 1;
  }
  .column2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    flex: 1 1 296px;
    order: 2;
  }
  .img4 {
    order: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../img/Asset\ 1\ 4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1 1 296px;
    margin-top: 8px;
  }
  .people {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 209px;
  }
  .partner__support__wrapper {
    background-image: none;
  }
  .par11::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: #0176ff;
    border-radius: 50%;
  }
  .par12::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: #0176ff;
    border-radius: 50%;
  }
  .par11 {
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    text-align: left;
  }
  .par12 {
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    text-align: left;
  }
  .val1 {
    margin-bottom: 0;
    max-width: none;
  }
  .val2 {
    margin-bottom: 0;
    max-width: none;
    padding-right: 0;
  }
  .val3 {
    margin-bottom: 0;
    max-width: none;
  }
  .val4 {
    margin-bottom: 0;
    max-width: none;
  }
  .val5 {
    margin-bottom: 0;
    max-width: none;
  }
  .val6 {
    margin-bottom: 0;
    max-width: none;
  }
}
.studing {
  background: rgb(244, 248, 250);
  display: flex;
  justify-content: center;
  padding-top: 21px;
  text-align: center;
}

@media (max-width: 992px) {
  .title__studing {
    margin-bottom: 32px;
  }
}
.answers__to__questions {
  background: rgb(244, 248, 250);
}

.answer__to__questions__wrapper {
  padding-top: 144px;
  padding-bottom: 120px;
}

.answer__to__questions__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.answers__and__form {
  display: flex;
  align-items: flex-start;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 32px;
  flex: 1 1 682px;
}

.line {
  border: 1px solid rgb(220, 221, 229);
  margin-bottom: 16px;
}

.answer__ol {
  padding: 0 24px;
}

.par13 {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.answers__li {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.questions__summaary::marker {
  font-size: 0;
}

.questions__summaary {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 16px;
}

.question__text__wrapper {
  background: white;
  border-radius: 0 0 16px 16px;
  padding: 0 24px 24px;
}

.question__form {
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 48px 40px 48px;
  flex: 1 1 485px;
}

.question__title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.par14 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.part2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  transition: all 0.3s ease;
}

.name:hover {
  box-sizing: border-box;
  border: 1px solid, rgb(97, 99, 109);
}

.message {
  display: flex;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  width: 100%;
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  transition: all 0.3s ease;
  resize: none;
}

.message:hover {
  border: 1px solid, rgb(97, 99, 109);
}

.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}

.send:hover {
  background: rgb(1, 118, 255);
  color: white;
}

.fixed__number {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.fixed__number:hover {
  box-sizing: border-box;
  border: 1px solid, rgb(97, 99, 109);
}

.number {
  width: 100%;
  background: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(169, 171, 182);
  padding: 16px 20px 16px 0;
  border: none;
  border-radius: 30px;
}

.prefix {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(38, 41, 49);
  display: flex;
  align-items: center;
}

.questions[open] .questions__summaary {
  color: rgb(38, 41, 49);
  border-radius: 16px 16px 0 0;
}
.questions[open] .arrow {
  transform: rotate(180deg);
}

.message__mobail {
  display: none;
}

@media (max-width: 992px) {
  .answers {
    flex: 1 1 296px;
    margin-right: 0;
  }
  .answers__and__form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .answer__to__questions__title {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 29px;
  }
  .questions__summaary {
    font-size: 14px;
    padding: 12px;
    gap: 10px;
  }
  .par13 {
    font-size: 14px;
  }
  .answers__li {
    font-size: 14px;
  }
  .answer__to__questions__wrapper {
    padding-top: 64px;
    padding-bottom: 128px;
  }
  .question__text__wrapper {
    padding: 0 12px 12px;
  }
  .question__title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .par14 {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .name {
    padding: 12px 20px;
    font-size: 14px;
  }
  .prefix {
    font-size: 14px;
  }
  .number {
    padding: 12px 0;
    font-size: 14px;
  }
  .message {
    display: none;
  }
  .message__mobail {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 199, 207);
    border-radius: 30px;
    background: rgb(255, 255, 255);
    color: rgb(169, 171, 182);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    transition: all 0.3s ease;
  }
  .message__mobail:hover {
    border: 1px solid, rgb(97, 99, 109);
  }
  .question__form {
    width: 100%;
    padding: 18px 12px;
  }
  .part3 {
    width: 100%;
  }
  .part2 {
    gap: 12px;
    margin-bottom: 18px;
  }
  .send {
    width: 100%;
    padding: 12px 40px;
  }
}
.footer__wrapper {
  padding: 56px 0;
}

.footer__text {
  display: flex;
  margin-bottom: 59px;
  justify-content: space-between;
}

.par16 {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.footer__text__li {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}

.footer__text__li:hover {
  color: rgb(0, 0, 0);
}

.par17 {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  transition: color 0.3s ease;
}

.par17:hover {
  color: rgb(38, 41, 49);
}

.footer__text1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__text2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__text3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__text4 {
  display: flex;
  flex-direction: column;
  gap: 25px 8px;
}

.footer__text5 {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.mob {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

@media (max-width: 992px) {
  .footer__wrapper {
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__text__li {
    font-size: 14px;
  }
  .footer__text1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__text2 {
    display: flex;
  }
  .footer__text3 {
    display: flex;
  }
  .footer__text4 {
    display: flex;
    gap: 17px;
  }
  .footer__text5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 16px;
  }
  .footer__text {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 56px;
    align-items: flex-start;
  }
  .mob {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex: 1 1 412px;
  }
}
.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 992px) {
  .container {
    max-width: 792px;
    margin: 0 auto;
    padding: 0 12px;
  }
}/*# sourceMappingURL=style.css.map */